* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

body {
    width: 100%;
    height: 100vh;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.phone {
    height: 800px;
    width: 500px;
    position: relative;
    /* left: 0px; */
    top: 90px;
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://static.cdninstagram.com/images/instagram/xig/homepage/phones/home-phones-2x.png?__makehaste_cache_breaker=73SVAexZgBW);
}

.phone img {
    height: 584px;
    width: 268px;
    position: absolute;
    left: 168px;
    top: 28px;
}

#p1 {
    opacity: 0;
    animation-name: fadeImg;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

#p2 {
    opacity: 0;
    animation-name: fadeImg;
    animation-duration: 20s;
    animation-delay: 6.4s;
    animation-iteration-count: infinite;
}

#p3 {
    opacity: 0;
    animation-name: fadeImg;
    animation-duration: 20s;
    animation-delay: 13s;
    animation-iteration-count: infinite;
}

@keyframes fadeImg {
    0% {
        opacity: 1;
    }

    33.3% {
        opacity: 0;
    }

    66.6% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.login {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login .log-in {
    width: 350px;
    height: 445px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #a7a6a6;
}

.login .log-in img {
    height: 50px;
    margin-bottom: 40px;
}

.login .log-in input {
    height: 35px;
    width: 280px;
    font-size: 13.5px;
    font-weight: 300;
    background-color: #ecebeba1;
    padding: 0 5px 0 5px;
    border: 0.35px solid #a7a6a6;
    border-radius: 2px;
    margin-bottom: 10px;
}

.login .log-in button {
    height: 35px;
    width: 290px;
    background-color: #4CB5F9;
    border: none;
    border-radius: 10px;
    margin: 10px 0 20px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.log-in .or {
    display: flex;
    align-items: center;
    color: #737373;
    font-weight: 500;
}

.log-in .or .line {
    width: 120px;
    height: 0;
    border: 1px solid #d2d2d2;
    margin: 0 15px 0 15px;
}

.log-in .fb {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.signup {
    height: 60px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #a7a6a6;
    margin: 20px;
    font-size: 17px;
    font-weight: 100;
}

@media (max-width: 1024px) {
    .phone{
        width: 0;
        height: 0;
    }
    .phone img{
        height: 0;
        width: 0;
    }
    .login{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .login .log-in{
        max-width: 500px;
        width: 85vw;
        height: 60vh;
        padding-bottom: 20px;
    }
    .login .log-in img {
        height: 50px;
        margin: 40px;
    }
    .login .log-in input {
        max-width: 410px;
        height: 3rem;
        width: 60vw;
        font-size: 2vh;
    }
    .login .log-in button {
        max-width: 420px;
        height: 3rem;
        width: 62vw;
        font-size: 2vh;
    }
    .log-in .or .line {
        max-width: 185px;
        width:25vw;
        height: 0;
        border: 1px solid #d2d2d2;
        margin: 0 15px 0 15px;
    }
    .signup {
        max-width: 500px;
        width: 85vw;
        height: 6vh;
        font-size: 2vh;
        font-weight: 100;
    }
}
